:root {
  --bg-url1:url("../img/pexels-roman-odintsov-4552130.png");
  --bg-url2:url("../img/pexels-cottonbro-4252138");
  
  --palette-main: #00a381;
  --palette-accent-dark: #e96c00;
  --palette-accent: #ff7600;
  --palette-accent-light: #ffba38;

  --grey-dark: #525252;
  --grey-semi-dark: #777777;
  --grey-main: #d9d9d9;
  --grey-light: #ffffff;

  --spacing-xl: 2.8rem;
  --spacing-l: 2.4rem;
  --spacing-m: 1.2rem;
  --spacing-s: 0.8rem;
  --spacing-xs: 0.4rem;

  --font-size-xl: 2.4rem;
  --font-size-l: 2rem;
  --font-size-m: 1.6rem;
  --font-size-s: 1.2rem;
  --font-size-xs: 0.8rem;

  --content-width-desktop: 70%;
  --content-width-mobile: 80%;

  --content-max-width: 800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
}

.download-now {
  padding: var(--spacing-xs) var(--spacing-m);
  background: var(--palette-accent);
  color: var(--grey-light);
  font-size: var(--font-size-l);
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: var(--spacing-l);
}

.download-now:hover {
  animation-name: onhover-accent;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.nav {
  height: 10vh;
  background: var(--palette-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__title {
  margin: 0 0 0 var(--spacing-xl);
  color: var(--grey-light);
  font-size: var(--font-size-l);
}

.nav__link-list {
  margin: 0 var(--spacing-xl) 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav__link {
  margin: 0 0 0 var(--spacing-m);
  color: var(--grey-light);
  font-size: var(--font-size-xs);
}

.header {
  height: 90vh;
  background-image: var(--bg-url1);
  background-size: cover;
  display: grid;
  align-items: center;
}


.header__heading-container {
  margin: 0 0 0 var(--spacing-xl);
  transform: translateY(-15%);
}

.header__heading {
  color: var(--grey-light);
  font-size: var(--font-size-xl);
  font-weight: normal;
}

.header__catch-container {
  margin: var(--spacing-xs) 0 0 0;
}

.header__catch {
  padding: var(--spacing-xs);
  background: var(--palette-main);
  font-size: var(--font-size-l);
}

.what-is-eatap {
  margin: 0 auto;
  padding: var(--spacing-l) 0;
  width: var(--content-width-desktop);
  max-width: var(--content-max-width);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.what-is-eatap__heading {
  margin: 0 0 var(--spacing-s) 0;
  color: var(--grey-semi-dark);
  font-size: var(--font-size-l);
}

.what-is-eatap__sub-heading {
  margin: 0 0 var(--spacing-s) 0;
  color: var(--grey-semi-dark);
  font-size: var(--font-size-s);
  border-bottom: 3px var(--palette-main) solid;
  display: inline-block;
}

.what-is-eatap__p {
  margin: 0 0 var(--spacing-m) 0;
  padding: 0 var(--spacing-l) 0 0;
  color: var(--grey-dark);
  font-size: var(--font-size-xs);
}

.what-is-eatap__img {
  width: 200px;
}

.perks {
  margin: 0 auto;
  padding: var(--spacing-l) 0;
  width: var(--content-width-desktop);
  max-width: var(--content-max-width);
}

.perks__heading {
  margin: 0 0 var(--spacing-m) 0;
  color: var(--grey-semi-dark);
  font-size: var(--font-size-l);
  text-align: center;
}

.perks__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.perk {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perk__img-container {
  margin: 0 0 var(--spacing-s) 0;
  width: 200px;
  height: 200px;
  background: var(--palette-accent-light);
  border-radius: 50%;
}

.perk__img {
  width: 200px;
}

.perk__img--map-search {
  width: 200px;
  transform: translateY(-10%);
}

.perk__img--coupon-manytimes {
  width: 200px;
  transform: scale(1.5);
}

.perk__heading {
  margin: 0 0 var(--spacing-s) 0;
  color: var(--palette-main);
  font-size: var(--font-size-xs);
  text-align: center;
}

.perk__p {
  color: var(--grey-dark);
  font-size: var(--font-size-xs);
}

.pricing {
  height: 10rem;
  background: var(--palette-main);
  text-align: center;
  display: grid;
  place-content: center;
}

.pricing__heading {
  margin: 0 0 var(--spacing-xs) 0;
  color: var(--grey-light);
  font-size: var(--font-size-m);
  font-weight: normal;
}

.pricing__p {
  color: #ffe657;
  font-size: var(--font-size-m);
  font-weight: bold;
}

.how-to-use {
  margin: 0 auto;
  padding: var(--spacing-l) 0;
  width: var(--content-width-desktop);
  max-width: var(--content-max-width);
}

.how-to-use__heading {
  margin: 0 0 var(--spacing-m) 0;
  color: var(--grey-semi-dark);
  font-size: var(--font-size-l);
  text-align: center;
}

.step__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__heading {
  margin: 0 0 var(--spacing-s) 0;
  color: var(--palette-main);
  font-size: var(--font-size-m);
  text-align: center;
  text-transform: uppercase;
}

.step__number {
  font-size: var(--font-size-l);
}

.step__img-container {
  margin: 0 0 var(--spacing-s) 0;
  width: 200px;
  height: 200px;
  background: var(--palette-accent-light);
  border-radius: 50%;
}

.step__img {
  width: 200px;
}

.step__img--easy-search {
  width: 200px;
  transform: scale(1.25);
}

.step__img--check-coupon {
  width: 200px;
  transform: scale(1.5) translateX(-2%) translateY(5%);
}

.step__p {
  color: var(--palette-main);
  font-size: var(--font-size-xs);
  font-weight: bold;
  text-align: center;
  transform: scale(1.25);
}

.q-and-a {
  margin: 0 auto;
  padding: var(--spacing-l) 0;
  background: var(--grey-main);
}

.q-and-a__heading {
  margin: 0 0 var(--spacing-m) 0;
  color: var(--palette-main);
  text-align: center;
}

.q-and-a__wrapper {
  padding: 0 var(--spacing-xl);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 var(--spacing-m);
}

.q-and-a-container {
  margin: 0 0 var(--spacing-s) 0;
  padding: var(--spacing-s);
  background: var(--grey-light);
  border-radius: 8px;
}

.question {
  margin: 0 0 var(--spacing-xs) 0;
  color: var(--palette-main);
  font-size: 1rem;
  font-weight: normal;
}

.answer {
  color: var(--grey-dark);
  font-size: var(--font-size-xs);
}

.contact {
  padding: var(--spacing-l) 0;
}

.contact__heading {
  margin: 0 0 var(--spacing-m) 0;
  color: var(--grey-semi-dark);
  font-size: var(--font-size-l);
  text-align: center;
}

.contact-form {
  margin: 0 auto;
  width: var(--content-width-mobile);
  max-width: 24rem;
  display: flex;
  flex-direction: column;
}

.contact-form__label {
  margin: 0 0 var(--spacing-xs) 0;
  color: var(--grey-dark);
}

.contact-form__input {
  margin: 0 0 var(--spacing-m) 0;
  padding: var(--spacing-xs) var(--spacing-s);
  background: var(--grey-main);
  font-size: var(--font-size-s);
  border: none;
  border-radius: 8px;
}

.contact-form__input:focus {
  outline: none;
}

.contact-form__textarea {
  margin: 0 0 var(--spacing-m) 0;
  padding: var(--spacing-xs) var(--spacing-s);
  background: var(--grey-main);
  height: 8rem;
  font-size: var(--font-size-xs);
  border: none;
  border-radius: 8px;
  resize: none;
}

.contact-form__textarea:focus {
  outline: none;
}

.contact-form__button {
  margin: 0 auto;
  padding: var(--spacing-xs) var(--spacing-s);
  width: 50%;
  background: var(--palette-accent);
  color: var(--grey-light);
  font-size: var(--font-size-s);
  border: none;
  border-radius: 8px;
}

.contact-form__button:hover {
  cursor: pointer;
  animation-name: onhover-accent;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.footer {
  padding: var(--spacing-l) 0;
  background: var(--palette-main);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer__link {
  margin: 0 0 var(--spacing-s) 0;
  color: var(--grey-light);
}

@keyframes onhover-accent {
  from {
    background: var(--palette-accent);
  }
  to {
    background: var(--palette-accent-dark);
  }
}

@media screen and (max-width: 1024px) {
  .download-now {
    padding: var(--spacing-xs) var(--spacing-s);
    font-size: var(--font-size-s);
    bottom: 35%;
  }

  .nav__title {
    margin: 0 0 0 var(--spacing-m);
  }

  .nav__link-list {
    margin: 0 var(--spacing-m) 0 0;
  }

  .nav__link {
    margin: 0 0 0 var(--spacing-s);
  }

  .header {
    height: 60vh;
    background-position: 50% 0%;
    justify-content: center;
  }

  .header__heading-container {
    margin: 0;
  }

  .header__heading {
    font-size: var(--font-size-m);
  }

  .header__catch-container {
    display: grid;
    justify-content: center;
  }

  .header__catch {
    font-size: var(--font-size-s);
  }

  .what-is-eatap {
    width: var(--content-width-mobile);
    flex-direction: column;
  }

  .what-is-eatap__text-container {
    text-align: center;
  }

  .what-is-eatap__p {
    padding: 0;
  }

  .what-is-eatap__img {
    width: 150px;
  }

  .perks__container {
    flex-direction: column;
    align-items: center;
  }

  .perk {
    margin: 0 0 var(--spacing-l) 0;
  }

  .how-to-use__heading {
    font-size: var(--font-size-m);
  }

  .step__container {
    flex-direction: column;
    align-items: center;
  }

  .step {
    margin: 0 0 var(--spacing-l) 0;
  }

  .q-and-a__wrapper {
    display: flex;
    flex-direction: column;
  }

  .question {
    font-size: var(--font-size-xs);
  }
}
